/** general **/
.bodyStyle {
    background: white;
    padding: 16px;
}
.mat-form-field {
    width: 100%;
}
.mat-raised-button {
    width: 100%;
}
.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
.mat-radio-button {
    margin: 5px;
}
.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}
.example-margin {
    margin: 0 10px;
}

/** mat-form-field **/
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: purple;
}
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: purple;
}
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
    color: purple; 
}
::ng-deep .mat-form-field .mat-form-field-label {
    color: purple; 
}

/** mat-radio-group **/
::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color:purple;
}
::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    color:purple;
    background-color: purple;
}
::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: purple;
}
::ng-deep .mat-radio-button.mat-accent.mat-radio-button .mat-radio-outer-circle {
    border-color:purple;
}

/** mat-select **/
::ng-deep .mat-select-arrow {
    color: gray;
} 
::ng-deep  .mat-select-value-text {
    color: gray;
}

/** mat-checkbox **/
::ng-deep .mat-checkbox-checked.mat-accent  .mat-checkbox-ripple .mat-ripple-element {
    background-color: purple;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: purple;
}
::ng-deep .mat-checkbox.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: purple;
}
::ng-deep mat-checkbox  .mat-checkbox-background {
    background-color: gray;
}
