<html>
  <body class="bodyStyle">
    <form>

        <mat-form-field appearance="outline" color="primary">
          <mat-label>Nome Completo</mat-label>
          <input matInput value="">
        </mat-form-field>

        <br>

        <mat-form-field appearance="outline" color="primary">
          <mat-label>Idade</mat-label>
          <input matInput value="">
        </mat-form-field>
        
        <br>

        <label>Sexo</label>
        <mat-radio-group aria-labelledby="radio-group-label" class="radio-group">
          <mat-radio-button *ngFor="let sex of sex" [value]="sex">
            {{sex}}
          </mat-radio-button>
        </mat-radio-group>

        <br>

        <label>Comida Preferida</label>      
        <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>

        <br>

        <section class="example-section">
          <mat-checkbox class="example-margin" [(ngModel)]="checked">Cerveja</mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="checked">Vinho</mat-checkbox>
        </section>

        <button mat-raised-button color="primary" (click)="saveUser()" color="primary">Salvar</button>

      </form>
  </body>
</html>